# Supabase - Same as storefront
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Admin JWT
ADMIN_JWT_SECRET=

# Resend
RESEND_API_KEY=

# Shiprocket
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3001
NEXT_PUBLIC_STOREFRONT_URL=http://localhost:3000
